@use '../../styles/variables' as vars;

.ah {
  &-c {
    &-icon-switch {
      position: relative;
      width: 4rem;
      height: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &__icon {
        font-size: 2.8rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
      &__bg {
        border-radius: 4rem;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: vars.$ah-disabled-background-color;
        opacity: 0;
        transition: 100ms opacity ease-in-out;
      }
      &:hover {
        .ah-c-icon-switch__bg {
          opacity: 0.5;
        }
      }
    }
  }
}
