@use './mixins/responsive-mixins' as responsive;

.ah {
  &-container {
    width: calc(100% - 3.2rem);
    margin: 0 auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    transition: 500ms width ease-in-out;
    max-width: 1440px;
    width: 80%;
    @include responsive.breakpoint(lg) {
      width: 90%;
    }
    @include responsive.breakpoint(md) {
      width: 100%;
      padding: 0 1.6rem;
      box-sizing: border-box;
    }
  }
}
