@use './mixins/responsive-mixins' as responsive;

.ah {
  &-flex {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 2.4rem;
    @include responsive.atSmall {
      flex-direction: row;
    }
    &--center {
      justify-content: center;
      align-items: center;
    }
    &__child {
      flex: 1 0 100%;
      &--50 {
        flex: 1 1 50%;
      }
    }
  }
}
