@use './variables' as vars;

.ah {
  &-bg-gradient {
    &--yelloworange {
      background: linear-gradient(to right, vars.$ah-yellow, vars.$ah-orange);
    }
    &--mediumgreydarkgrey {
      background: linear-gradient(
        to left,
        vars.$ah-darkgrey,
        vars.$ah-mediumgrey
      );
    }
    &--darkergreydarkgrey {
      background: linear-gradient(
        to right,
        vars.$ah-darkgrey,
        vars.$ah-darkergrey
      );
    }
    &--multiply {
      mix-blend-mode: multiply;
    }
  }

  &-text-gradient {
    &--yelloworange {
      color: vars.$ah-yellow;
      -webkit-text-fill-color: transparent;
      background: -webkit-linear-gradient(
        bottom,
        vars.$ah-yellow,
        vars.$ah-orange
      );
      background-clip: text;
      -webkit-background-clip: text;
    }
    &--darkergreydarkgrey {
      color: vars.$ah-darkergrey;
      -webkit-text-fill-color: transparent;
      background: -webkit-linear-gradient(
        bottom,
        vars.$ah-darkergrey,
        vars.$ah-darkgrey
      );
      background-clip: text;
      -webkit-background-clip: text;
    }
    &--mediumgreydarkgrey {
      color: vars.$ah-darkgrey;
      -webkit-text-fill-color: transparent;
      background: -webkit-linear-gradient(
        bottom,
        vars.$ah-darkgrey,
        vars.$ah-mediumgrey
      );
      background-clip: text;
      -webkit-background-clip: text;
    }
    &--lightgreymediumgrey {
      color: vars.$ah-lightgrey;
      -webkit-text-fill-color: transparent;
      background: -webkit-linear-gradient(
        bottom,
        vars.$ah-mediumgrey,
        vars.$ah-lightgrey
      );
      background-clip: text;
      -webkit-background-clip: text;
    }
  }
}
