@use './variables' as vars;

.ah {
  &-section-title {
    font-family: vars.$ah-font-hero;
    font-weight: 700;
    font-size: 5.6rem;
    line-height: 5.8rem;
    margin-top: 0;
    margin-bottom: 2.4rem;
  }
  &-feature-title {
    font-family: vars.$ah-font-headline;
    font-weight: 400;
    font-size: 4rem;
    line-height: 3.8rem;
    margin-top: 0;
    margin-bottom: 1.8rem;
  }
  &-feature-subtitle {
    font-family: vars.$ah-font-text;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 3rem;
    margin-top: 0;
    margin-bottom: 1.2rem;
  }
  &-feature-text {
    font-family: vars.$ah-font-text;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2rem;
    margin-top: 0;
    margin-bottom: 0.8rem;
    &--lead {
      font-size: 1.2em;
      line-height: 1.4em;
      letter-spacing: 0.2rem;
    }
  }
  &-font-hero {
    font-family: vars.$ah-font-hero;
  }
  &-font-headline {
    font-family: vars.$ah-font-headline;
  }
  &-font-text {
    font-family: vars.$ah-font-text;
  }
  &-font-light {
    font-weight: lighter;
  }
  &-font-normal {
    font-weight: normal;
  }
  &-font-bold {
    font-weight: bold;
  }
  &-ellipsis {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }
}
