// colors
$ah-black: rgb(0, 0, 0);
$ah-darkergrey: rgb(58, 56, 54);
$ah-darkgrey: rgb(100, 98, 96);
$ah-mediumgrey: rgb(169, 168, 167);
$ah-lightgrey: rgb(247, 246, 245);
$ah-white: rgb(255, 255, 255);
$ah-yellow: rgb(252, 219, 0);
$ah-orange: rgb(247, 181, 0);

// fonts
$ah-font-hero: 'Anton', times, Georgia, serif;
$ah-font-headline: 'Poiret One', times, Georgia, serif;
$ah-font-text: 'Josefin Sans', Arial, Helvetica, sans-serif;

// sizes
$ah-backdrop-blur: 3px;
$ah-backdrop-blur-more: 6px;

$ah-header-height: 6.4rem;
$ah-header-height-mobile: 5.6rem;
$ah-avatar-size: 14rem;
$ah-avatar-size-mobile: 7rem;

// ---------- text colors ----------
$ah-primary-text-color: $ah-darkgrey;
$ah-secondary-text-color: $ah-mediumgrey;
$ah-highlight-text-color: $ah-orange;
$ah-disabled-text-color: rgb(212, 211, 210);

// ---------- background colors ----------
$ah-primary-background-color: $ah-lightgrey;
$ah-secondary-background-color: $ah-darkgrey;
$ah-highlight-background-color: $ah-orange;
