.ah {
  &-c {
    &-feature-summary {
      &__title {
        color: var(--secondary-text-color);
      }
      &__list {
        padding: 0;
        margin: 0;
        list-style: none;
      }
      &__list-item {
        margin-top: 0;
        margin-bottom: 2.4rem;
        &__title {
          display: flex;
          justify-content: flex-start;
          align-items: baseline;
          color: var(--primary-text-color);
        }
        &__icon {
          font-size: 2rem;
          color: var(--primary-text-color);
        }
        &__text {
          color: var(--secondary-text-color);
        }
      }
    }
  }
}
