@use '../../styles/shadows' as shadows;

.ah {
  &-c {
    &-card {
      min-height: 17rem;
      padding: 1.6rem;
      background-color: var(--card-background-color);
      transition: 100ms transform linear, 100ms box-shadow linear;
      &--scale-on-hover {
        &:hover {
          transform: scale(1.02);
          box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
            0px 6px 10px 0px rgba(0, 0, 0, 0.14),
            0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        }
      }
    }
  }
}
