@use '../../styles/variables' as vars;

.ah {
  &-c {
    &-navigation {
      &__list {
        padding: 1.6rem;
        margin: 0 auto;
        margin-top: 1.6rem;
        list-style: none;
        background-color: vars.$ah-card-background-color;
        border-radius: 20rem;
        max-width: 10rem;
        transform: translateY(-200%);
        transition: 500ms transform ease-in-out;
        &--opened {
          transform: translateY(0);
        }
      }
      &__list-item {
        cursor: pointer;
        color: vars.$ah-secondary-text-color;
        margin: 1.6rem 0;
        padding: 0.8rem 0.8rem 0.4rem 0.8rem;
        border-radius: 2rem;
        text-align: center;
        transition: 200ms background-color ease-in-out, 200ms color ease-in-out;
        &:hover {
          background-color: rgba(vars.$ah-black, 0.17);
          color: vars.$ah-primary-text-color;
        }
        &--selected {
          background-color: vars.$ah-orange;
          color: vars.$ah-white;
        }
      }
    }
  }
}
