@use '../../styles/variables' as vars;
@use '../../styles/mixins/gradient-mixins' as gradient;

.ah {
  &-c {
    &-card-icon {
      width: 4rem;
      height: 3rem;
      background: rgba(vars.$ah-black, 0.6);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        .ah-c-card-icon__selection {
          width: 100%;
        }
      }
      a {
        z-index: 1;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: vars.$ah-white;
        &:focus,
        &:visited {
          color: vars.$ah-white;
        }
      }
      &__selection {
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        width: 0%;
        height: 100%;
        transition: 150ms width ease-in-out;
        @include gradient.gradient-background(vars.$ah-yellow, vars.$ah-orange);
      }
    }
  }
}
