@use '../../styles/variables' as vars;
@use '../../styles/mixins/responsive-mixins' as responsive;

.ah {
  &-c {
    &-avatar {
      &__container {
        position: relative;
        height: vars.$ah-avatar-size;
        border-radius: vars.$ah-avatar-size;
        aspect-ratio: 1/1;
        background-color: vars.$ah-white;
        padding: 0.8rem;
        margin-top: 0.8rem;
        transition: 500ms height ease-in-out;
        @include responsive.breakpoint(sm) {
          height: vars.$ah-avatar-size-mobile;
          border-radius: vars.$ah-avatar-size-mobile;
        }
      }
      &__image-wrapper {
        position: relative;
        z-index: 1;
        border-radius: vars.$ah-avatar-size;
        background-color: vars.$ah-primary-background-color;
        img {
          width: 100%;
          border-radius: 21rem;
        }
        @include responsive.breakpoint(sm) {
          border-radius: vars.$ah-avatar-size-mobile;
        }
      }
      &__mask {
        position: absolute;
        top: 0;
        width: calc(100% + 1.6rem);
        margin-top: -0.8rem;
        margin-left: -1.6rem;
        margin-right: -1.6rem;
        height: vars.$ah-header-height;
        background-color: vars.$ah-white;
      }
    }
  }
}
