@mixin gradient-background($from, $to) {
  background-color: $from;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from($from),
    to($to)
  );
  background: -webkit-linear-gradient(left, $from, $to);
  background: -moz-linear-gradient(left, $from, $to);
  background: -ms-linear-gradient(left, $from, $to);
  background: -o-linear-gradient(left, $from, $to);
  background: linear-gradient(to right, $from, $to);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#646260, endColorstr=#3a3836);
}

@mixin gradient-text($from, $to) {
  color: $from;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(bottom, $from, $to);
  background-clip: text;
  -webkit-background-clip: text;
}
